:root {
  --height-header-wrapper: 64px;
  --mobile-nav-height: 60px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  min-height: calc(100vh - var(--height-header-wrapper));
  flex: 1;
}
.content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
}
